* {
	box-sizing: border-box;
}

.boundingBox {
	padding: 0;
	position: fixed;
	background-color: #333;
}

.box {
	background-color: #C389FA;
	height: 150px;
	width: 300px;
	position: absolute;
	outline: none;

	&:hover {
		border: 2px solid #EB4B48;
	}
}

.selected {
	background-color: #342FD4;
	border: 2px solid #EB4B48;
}

.guide {
	background: #EB4B48;
	color: #EB4B48;
	display: block;
	left: 0;
	position: absolute;
	top: 0;
	z-index: 2;
}

.xAxis {
	height: 100%;
	width: 1px;
}

.yAxis {
	height: 1px;
	width: 100%;
}

// Resize Handles
.resizeHandle {
	width: 10px;
	height: 10px;
	background-color: #FFF;
	border: 2px solid #EB4B48;
	position: absolute;
}

.resize-tr {
	top: -5px;
	right: -5px;
}

.resize-tl {
	top: -5px;
	left: -5px;
}

.resize-br {
	bottom: -5px;
	right: -5px;
}

.resize-bl {
	bottom: -5px;
	left: -5px;
}

.resize-tr, .resize-bl {
	cursor: nesw-resize;
}

.resize-tl, .resize-br {
	cursor: nwse-resize;
}
